<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country Dropdown</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body class="bg-light">
    <div class="dropdown" style="max-width: 100%;">
        <button class="btn btn-primary dropdown-toggle w-100 text-start position-relative" type="button" id="country" data-bs-toggle="dropdown" aria-expanded="true" style="padding-right: 1rem;">
            Select a country
            <span class="position-absolute end-0 top-50 translate-middle-y me-3"><i class="bi bi-caret-down-fill"></i></span>
        </button>
        <ul class="dropdown-menu w-100" id="country_list" aria-labelledby="country" style="max-height: 300px; overflow-y: auto;">
            
            <li>
                <h6 class="dropdown-header">Popular Countries</h6>
            </li>
            <li><a class="dropdown-item" href="#" data-code="United States">United States</a></li>
            <li><a class="dropdown-item" href="#" data-code="United Kingdom">United Kingdom</a></li>
            <li><a class="dropdown-item" href="#" data-code="India">India</a></li>
            <li><a class="dropdown-item" href="#" data-code="Canada">Canada</a></li>
            <li><a class="dropdown-item" href="#" data-code="Australia">Australia</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <h6 class="dropdown-header">All Countries</h6>
            </li>
            <li><a class="dropdown-item" href="#" data-code="Albania">Albania</a></li>
            <li><a class="dropdown-item" href="#" data-code="Algeria">Algeria</a></li>
            <li><a class="dropdown-item" href="#" data-code="Andorra">Andorra</a></li>
            <li><a class="dropdown-item" href="#" data-code="Angola">Angola</a></li>
            <li><a class="dropdown-item" href="#" data-code="Antigua and Barbuda">Antigua and Barbuda</a></li>
            <li><a class="dropdown-item" href="#" data-code="Argentina">Argentina</a></li>
            <li><a class="dropdown-item" href="#" data-code="Armenia">Armenia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Australia">Australia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Austria">Austria</a></li>
            <li><a class="dropdown-item" href="#" data-code="Azerbaijan">Azerbaijan</a></li>
            <li><a class="dropdown-item" href="#" data-code="Bahamas">Bahamas</a></li>
            <li><a class="dropdown-item" href="#" data-code="Bahrain">Bahrain</a></li>
            <li><a class="dropdown-item" href="#" data-code="Bangladesh">Bangladesh</a></li>
            <li><a class="dropdown-item" href="#" data-code="Barbados">Barbados</a></li>
            <li><a class="dropdown-item" href="#" data-code="Belarus">Belarus</a></li>
            <li><a class="dropdown-item" href="#" data-code="Belgium">Belgium</a></li>
            <li><a class="dropdown-item" href="#" data-code="Belize">Belize</a></li>
            <li><a class="dropdown-item" href="#" data-code="Benin">Benin</a></li>
            <li><a class="dropdown-item" href="#" data-code="Bhutan">Bhutan</a></li>
            <li><a class="dropdown-item" href="#" data-code="Bolivia (Plurinational State of)">Bolivia
                    (Plurinational State
                    of)</a></li>
            <li><a class="dropdown-item" href="#" data-code="Bosnia and Herzegovina">Bosnia and Herzegovina</a></li>
            <li><a class="dropdown-item" href="#" data-code="Botswana">Botswana</a></li>
            <li><a class="dropdown-item" href="#" data-code="Brazil">Brazil</a></li>
            <li><a class="dropdown-item" href="#" data-code="Brunei Darussalam">Brunei Darussalam</a></li>
            <li><a class="dropdown-item" href="#" data-code="Bulgaria">Bulgaria</a></li>
            <li><a class="dropdown-item" href="#" data-code="Burkina Faso">Burkina Faso</a></li>
            <li><a class="dropdown-item" href="#" data-code="Burundi">Burundi</a></li>
            <li><a class="dropdown-item" href="#" data-code="Cabo Verde">Cabo Verde</a></li>
            <li><a class="dropdown-item" href="#" data-code="Cambodia">Cambodia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Cameroon">Cameroon</a></li>
            <li><a class="dropdown-item" href="#" data-code="Canada">Canada</a></li>
            <li><a class="dropdown-item" href="#" data-code="Central African Republic">Central African Republic</a>
            </li>
            <li><a class="dropdown-item" href="#" data-code="Chad">Chad</a></li>
            <li><a class="dropdown-item" href="#" data-code="Chile">Chile</a></li>
            <li><a class="dropdown-item" href="#" data-code="China">China</a></li>
            <li><a class="dropdown-item" href="#" data-code="Colombia">Colombia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Comoros">Comoros</a></li>
            <li><a class="dropdown-item" href="#" data-code="Congo">Congo</a></li>
            <li><a class="dropdown-item" href="#" data-code="Congo, Democratic Republic of the">Congo, Democratic
                    Republic
                    of the</a></li>
            <li><a class="dropdown-item" href="#" data-code="Costa Rica">Costa Rica</a></li>
            <li><a class="dropdown-item" href="#" data-code="Croatia">Croatia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Cuba">Cuba</a></li>
            <li><a class="dropdown-item" href="#" data-code="Cyprus">Cyprus</a></li>
            <li><a class="dropdown-item" href="#" data-code="Czech Republic">Czech Republic</a></li>
            <li><a class="dropdown-item" href="#" data-code="Côte d'Ivoire">Côte d'Ivoire</a></li>
            <li><a class="dropdown-item" href="#" data-code="Denmark">Denmark</a></li>
            <li><a class="dropdown-item" href="#" data-code="Djibouti">Djibouti</a></li>
            <li><a class="dropdown-item" href="#" data-code="Dominica">Dominica</a></li>
            <li><a class="dropdown-item" href="#" data-code="Dominican Republic">Dominican Republic</a></li>
            <li><a class="dropdown-item" href="#" data-code="Ecuador">Ecuador</a></li>
            <li><a class="dropdown-item" href="#" data-code="Egypt">Egypt</a></li>
            <li><a class="dropdown-item" href="#" data-code="El Salvador">El Salvador</a></li>
            <li><a class="dropdown-item" href="#" data-code="Equatorial Guinea">Equatorial Guinea</a></li>
            <li><a class="dropdown-item" href="#" data-code="Eritrea">Eritrea</a></li>
            <li><a class="dropdown-item" href="#" data-code="Estonia">Estonia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Eswatini (Swaziland)">Eswatini (Swaziland)</a></li>
            <li><a class="dropdown-item" href="#" data-code="Ethiopia">Ethiopia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Fiji">Fiji</a></li>
            <li><a class="dropdown-item" href="#" data-code="Finland">Finland</a></li>
            <li><a class="dropdown-item" href="#" data-code="France">France</a></li>
            <li><a class="dropdown-item" href="#" data-code="Gabon">Gabon</a></li>
            <li><a class="dropdown-item" href="#" data-code="Gambia">Gambia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Georgia">Georgia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Germany">Germany</a></li>
            <li><a class="dropdown-item" href="#" data-code="Ghana">Ghana</a></li>
            <li><a class="dropdown-item" href="#" data-code="Greece">Greece</a></li>
            <li><a class="dropdown-item" href="#" data-code="Grenada">Grenada</a></li>
            <li><a class="dropdown-item" href="#" data-code="Guatemala">Guatemala</a></li>
            <li><a class="dropdown-item" href="#" data-code="Guinea">Guinea</a></li>
            <li><a class="dropdown-item" href="#" data-code="Guinea-Bissau">Guinea-Bissau</a></li>
            <li><a class="dropdown-item" href="#" data-code="Guyana">Guyana</a></li>
            <li><a class="dropdown-item" href="#" data-code="Haiti">Haiti</a></li>
            <li><a class="dropdown-item" href="#" data-code="Honduras">Honduras</a></li>
            <li><a class="dropdown-item" href="#" data-code="Hungary">Hungary</a></li>
            <li><a class="dropdown-item" href="#" data-code="Iceland">Iceland</a></li>
            <li><a class="dropdown-item" href="#" data-code="India">India</a></li>
            <li><a class="dropdown-item" href="#" data-code="Indonesia">Indonesia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Iran">Iran</a></li>
            <li><a class="dropdown-item" href="#" data-code="Iraq">Iraq</a></li>
            <li><a class="dropdown-item" href="#" data-code="Ireland">Ireland</a></li>
            <li><a class="dropdown-item" href="#" data-code="Israel">Israel</a></li>
            <li><a class="dropdown-item" href="#" data-code="Italy">Italy</a></li>
            <li><a class="dropdown-item" href="#" data-code="Jamaica">Jamaica</a></li>
            <li><a class="dropdown-item" href="#" data-code="Japan">Japan</a></li>
            <li><a class="dropdown-item" href="#" data-code="Jordan">Jordan</a></li>
            <li><a class="dropdown-item" href="#" data-code="Kazakhstan">Kazakhstan</a></li>
            <li><a class="dropdown-item" href="#" data-code="Kenya">Kenya</a></li>
            <li><a class="dropdown-item" href="#" data-code="Kiribati">Kiribati</a></li>
            <li><a class="dropdown-item" href="#" data-code="Korea, North">Korea, North</a></li>
            <li><a class="dropdown-item" href="#" data-code="Korea, South">Korea, South</a></li>
            <li><a class="dropdown-item" href="#" data-code="Kuwait">Kuwait</a></li>
            <li><a class="dropdown-item" href="#" data-code="Kyrgyzstan">Kyrgyzstan</a></li>
            <li><a class="dropdown-item" href="#" data-code="Lao People's Democratic Republic">Lao People's
                    Democratic
                    Republic</a></li>
            <li><a class="dropdown-item" href="#" data-code="Latvia">Latvia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Lebanon">Lebanon</a></li>
            <li><a class="dropdown-item" href="#" data-code="Lesotho">Lesotho</a></li>
            <li><a class="dropdown-item" href="#" data-code="Liberia">Liberia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Libya">Libya</a></li>
            <li><a class="dropdown-item" href="#" data-code="Liechtenstein">Liechtenstein</a></li>
            <li><a class="dropdown-item" href="#" data-code="Lithuania">Lithuania</a></li>
            <li><a class="dropdown-item" href="#" data-code="Luxembourg">Luxembourg</a></li>
            <li><a class="dropdown-item" href="#" data-code="Macedonia North">Macedonia North</a></li>
            <li><a class="dropdown-item" href="#" data-code="Madagascar">Madagascar</a></li>
            <li><a class="dropdown-item" href="#" data-code="Malawi">Malawi</a></li>
            <li><a class="dropdown-item" href="#" data-code="Malaysia">Malaysia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Maldives">Maldives</a></li>
            <li><a class="dropdown-item" href="#" data-code="Mali">Mali</a></li>
            <li><a class="dropdown-item" href="#" data-code="Malta">Malta</a></li>
            <li><a class="dropdown-item" href="#" data-code="Marshall Islands">Marshall Islands</a></li>
            <li><a class="dropdown-item" href="#" data-code="Mauritania">Mauritania</a></li>
            <li><a class="dropdown-item" href="#" data-code="Mauritius">Mauritius</a></li>
            <li><a class="dropdown-item" href="#" data-code="Mexico">Mexico</a></li>
            <li><a class="dropdown-item" href="#" data-code="Micronesia">Micronesia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Moldova">Moldova</a></li>
            <li><a class="dropdown-item" href="#" data-code="Monaco">Monaco</a></li>
            <li><a class="dropdown-item" href="#" data-code="Mongolia">Mongolia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Montenegro">Montenegro</a></li>
            <li><a class="dropdown-item" href="#" data-code="Morocco">Morocco</a></li>
            <li><a class="dropdown-item" href="#" data-code="Mozambique">Mozambique</a></li>
            <li><a class="dropdown-item" href="#" data-code="Myanmar (Burma)">Myanmar (Burma)</a></li>
            <li><a class="dropdown-item" href="#" data-code="Namibia">Namibia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Nauru">Nauru</a></li>
            <li><a class="dropdown-item" href="#" data-code="Nepal">Nepal</a></li>
            <li><a class="dropdown-item" href="#" data-code="Netherlands">Netherlands</a></li>
            <li><a class="dropdown-item" href="#" data-code="New Zealand">New Zealand</a></li>
            <li><a class="dropdown-item" href="#" data-code="Nicaragua">Nicaragua</a></li>
            <li><a class="dropdown-item" href="#" data-code="Niger">Niger</a></li>
            <li><a class="dropdown-item" href="#" data-code="Nigeria">Nigeria</a></li>
            <li><a class="dropdown-item" href="#" data-code="Norway">Norway</a></li>
            <li><a class="dropdown-item" href="#" data-code="Oman">Oman</a></li>
            <li><a class="dropdown-item" href="#" data-code="Pakistan">Pakistan</a></li>
            <li><a class="dropdown-item" href="#" data-code="Palau">Palau</a></li>
            <li><a class="dropdown-item" href="#" data-code="Panama">Panama</a></li>
            <li><a class="dropdown-item" href="#" data-code="Papua New Guinea">Papua New Guinea</a></li>
            <li><a class="dropdown-item" href="#" data-code="Paraguay">Paraguay</a></li>
            <li><a class="dropdown-item" href="#" data-code="Peru">Peru</a></li>
            <li><a class="dropdown-item" href="#" data-code="Philippines">Philippines</a></li>
            <li><a class="dropdown-item" href="#" data-code="Poland">Poland</a></li>
            <li><a class="dropdown-item" href="#" data-code="Portugal">Portugal</a></li>
            <li><a class="dropdown-item" href="#" data-code="Qatar">Qatar</a></li>
            <li><a class="dropdown-item" href="#" data-code="Romania">Romania</a></li>
            <li><a class="dropdown-item" href="#" data-code="Russian Federation">Russian Federation</a></li>
            <li><a class="dropdown-item" href="#" data-code="Rwanda">Rwanda</a></li>
            <li><a class="dropdown-item" href="#" data-code="Saint Kitts and Nevis">Saint Kitts and Nevis</a></li>
            <li><a class="dropdown-item" href="#" data-code="Saint Lucia">Saint Lucia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Saint Vincent and the Grenadines">Saint Vincent and the
                    Grenadines</a></li>
            <li><a class="dropdown-item" href="#" data-code="Samoa">Samoa</a></li>
            <li><a class="dropdown-item" href="#" data-code="San Marino">San Marino</a></li>
            <li><a class="dropdown-item" href="#" data-code="Sao Tome and Principe">Sao Tome and Principe</a></li>
            <li><a class="dropdown-item" href="#" data-code="Saudi Arabia">Saudi Arabia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Senegal">Senegal</a></li>
            <li><a class="dropdown-item" href="#" data-code="Serbia">Serbia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Seychelles">Seychelles</a></li>
            <li><a class="dropdown-item" href="#" data-code="Sierra Leone">Sierra Leone</a></li>
            <li><a class="dropdown-item" href="#" data-code="Singapore">Singapore</a></li>
            <li><a class="dropdown-item" href="#" data-code="Slovakia">Slovakia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Slovenia">Slovenia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Solomon Islands">Solomon Islands</a></li>
            <li><a class="dropdown-item" href="#" data-code="Somalia">Somalia</a></li>
            <li><a class="dropdown-item" href="#" data-code="South Africa">South Africa</a></li>
            <li><a class="dropdown-item" href="#" data-code="South Sudan">South Sudan</a></li>
            <li><a class="dropdown-item" href="#" data-code="Spain">Spain</a></li>
            <li><a class="dropdown-item" href="#" data-code="Sri Lanka">Sri Lanka</a></li>
            <li><a class="dropdown-item" href="#" data-code="Sudan">Sudan</a></li>
            <li><a class="dropdown-item" href="#" data-code="Suriname">Suriname</a></li>
            <li><a class="dropdown-item" href="#" data-code="Sweden">Sweden</a></li>
            <li><a class="dropdown-item" href="#" data-code="Switzerland">Switzerland</a></li>
            <li><a class="dropdown-item" href="#" data-code="Syria">Syria</a></li>
            <li><a class="dropdown-item" href="#" data-code="Taiwan">Taiwan</a></li>
            <li><a class="dropdown-item" href="#" data-code="Tajikistan">Tajikistan</a></li>
            <li><a class="dropdown-item" href="#" data-code="Tanzania">Tanzania</a></li>
            <li><a class="dropdown-item" href="#" data-code="Thailand">Thailand</a></li>
            <li><a class="dropdown-item" href="#" data-code="Timor-Leste">Timor-Leste</a></li>
            <li><a class="dropdown-item" href="#" data-code="Togo">Togo</a></li>
            <li><a class="dropdown-item" href="#" data-code="Tonga">Tonga</a></li>
            <li><a class="dropdown-item" href="#" data-code="Trinidad and Tobago">Trinidad and Tobago</a></li>
            <li><a class="dropdown-item" href="#" data-code="Tunisia">Tunisia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Turkey (Türkiye)">Turkey (Türkiye)</a></li>
            <li><a class="dropdown-item" href="#" data-code="Turkmenistan">Turkmenistan</a></li>
            <li><a class="dropdown-item" href="#" data-code="Tuvalu">Tuvalu</a></li>
            <li><a class="dropdown-item" href="#" data-code="Uganda">Uganda</a></li>
            <li><a class="dropdown-item" href="#" data-code="Ukraine">Ukraine</a></li>
            <li><a class="dropdown-item" href="#" data-code="United Arab Emirates">United Arab Emirates</a></li>
            <li><a class="dropdown-item" href="#" data-code="United Kingdom">United Kingdom</a></li>
            <li><a class="dropdown-item" href="#" data-code="United States">United States</a></li>
            <li><a class="dropdown-item" href="#" data-code="Uruguay">Uruguay</a></li>
            <li><a class="dropdown-item" href="#" data-code="Uzbekistan">Uzbekistan</a></li>
            <li><a class="dropdown-item" href="#" data-code="Vanuatu">Vanuatu</a></li>
            <li><a class="dropdown-item" href="#" data-code="Vatican City Holy See">Vatican City Holy See</a></li>
            <li><a class="dropdown-item" href="#" data-code="Venezuela">Venezuela</a></li>
            <li><a class="dropdown-item" href="#" data-code="Vietnam">Vietnam</a></li>
            <li><a class="dropdown-item" href="#" data-code="Yemen">Yemen</a></li>
            <li><a class="dropdown-item" href="#" data-code="Zambia">Zambia</a></li>
            <li><a class="dropdown-item" href="#" data-code="Zimbabwe">Zimbabwe</a></li>

            
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        document.querySelectorAll('#country_list .dropdown-item').forEach(function (item) {
            item.addEventListener('click', function (e) {
                e.preventDefault();
                // Remove 'active' from all items
                document.querySelectorAll('#country_list .dropdown-item.active').forEach(function (el) {
                    el.classList.remove('active');
                });
                // Add 'active' to the clicked item
                this.classList.add('active');
                // Update button text and data-code
                const btn = document.getElementById('country');
                btn.childNodes[0].nodeValue = this.textContent + ' ';
                btn.setAttribute('data-code', this.getAttribute('data-code'));
            });
        });
    </script>
</body>
</html>
